In [1]:
import pandas as pd

In [22]:
fruits =     ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [24]:
fruits_series = pd.Series(fruits)

In [25]:
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [26]:
# 1- Determine the number of elements in fruits.


fruits_series.size

17

In [42]:
fruits_series.shape[0]

17

In [35]:
# 2 - Output only the index from fruits.
fruits_series.index

RangeIndex(start=0, stop=17, step=1)

In [36]:
#Output only the values from fruits.
fruits_series.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [37]:
# 4 - Confirm the data type of the values in fruits.
fruits_series.dtype

dtype('O')

In [43]:
# 5 - Output only the first five values from fruits.
fruits_series.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object

In [44]:
# 5 -Output the last three values.
fruits_series.tail(3)

14    blackberry
15    gooseberry
16        papaya
dtype: object

In [45]:
# 5 -Output two random values from fruits.
fruits_series.sample(2)

3     pineapple
12        mango
dtype: object

In [60]:
fruits_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [40]:
# Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruits_series.describe

<bound method NDFrame.describe of 0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object>

In [41]:
# 7 Run the code necessary to produce only the unique string values from fruits.
fruits_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [46]:
#
fruits_series.nunique()

13

In [47]:
# 8 Determine how many times each unique string value occurs in fruits.
fruits_series.value_counts()

kiwi                4
mango               2
honeydew            1
papaya              1
honeycrisp apple    1
watermelon          1
gala apple          1
gooseberry          1
tomato              1
strawberry          1
pineapple           1
blackberry          1
blueberry           1
dtype: int64

In [50]:
# Determine the string value that occurs most frequently in fruits.
fruits_series.value_counts().head(1)

kiwi    4
dtype: int64

In [51]:
fruits_series.value_counts().idxmax()

'kiwi'

In [56]:
fruits_series.value_counts().nlargest(n= 2)

kiwi     4
mango    2
dtype: int64

In [59]:
# 10 Determine the string value that occurs least frequently in fruits.
fruits_series.value_counts().nsmallest(n= 11, keep ='all')

honeydew            1
papaya              1
honeycrisp apple    1
watermelon          1
gala apple          1
gooseberry          1
tomato              1
strawberry          1
pineapple           1
blackberry          1
blueberry           1
dtype: int64